h3{
font-family: arial, sans-serif;
font-size: "36em"
}

.greyTextItalics{
color: slategray;
font-style: italic;
}

form{
font-size: "58em"
border-width: 5px;
border-style: dashed;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: beige;
padding: 25px;
line-height: 200%;
font-family: arial, sans-serif;
}

.num_input {
text-align: right;
}

.topics{
rows: 5
cols: 25
}

input{
}
